version: "3.8"

services:
  backend:
    image: hariharanr1893/ecom-backend:latest
    container_name: ecom-backend
    ports:
      - "5000:5000"
    env_file:
      - .env
    restart: unless-stopped
